/* Product card container */
.productCard {
  /* border: 0.2px solid black; */
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  width: 300px;
  top: 652px;
  left: 412px;
  gap: 0px;
  opacity: 0px;
}

@media (max-width: 900px) {
  .productCard {
    padding: 12px;
  }
}

/* Product image styling */
.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .productImage {
    width: 85%;
  }
}

/* Product details section */
.productDetails {
  text-align: center;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (max-width: 900px) {
  .productDetails {
    margin-top: 12px;
    gap: 6px;
  }
}

/* Product title */
.productTitle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* Enables multiline ellipsis */
  -webkit-line-clamp: 1;
  line-clamp: 1;
  /* Limits to 2 lines */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  /* Breaks long words to prevent overflow */
  max-width: 100%;
  /* Ensures title does not overflow container width */
}

@media (max-width: 900px) {
  .productTitle {
    font-size: 0.7rem;
    margin-bottom: 6px;
  }
}

/* Product description */
.productDescription {
  font-size: 0.6rem;
  color: #555;
  margin-bottom: 12px;
  opacity: 0.5;
}

@media (max-width: 900px) {
  .productDescription {
    font-size: 0.5rem;
    margin-bottom: 8px;
  }
}

/* Underlined link */
.underlined {
  text-decoration: underline;
}